@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f5f0; /* Color crema claro */
  color: #3e2723; /* Café oscuro */
  margin: 0;
  line-height: 1.6;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  max-width: 100%; /* Evita que se desborde más allá del 100% */
  background-color: #4d2814; /* Café medio */
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; /* Evita el scroll horizontal */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%; /* Limita el ancho del contenido a un 90% */
  margin: 0 auto; /* Centra el menú horizontalmente */
  padding: 0;
  gap: 10px;
}

.menu li {
  width: 50%;
  margin: 0;
}
.submenu {
  display: none;
  list-style-type: none;
  padding-left: 0;
  width: 100%;

}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  margin-top: 5px;
  width: 100%;
  background-color: #713b1e;
}

.menu a {
  display: block;
  padding: 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #8d6e63; /* Café suave */
  color: #f9f5f0;
}

/* Styles for SalesList component */
table {
  width: 100%;
  border-collapse: collapse; /* Combina los bordes de las celdas adyacentes */
  margin: 20px 0; /* Espaciado superior e inferior */
  table-layout: auto;
}

thead {
  background-color: #4d2814; /* Color de fondo para los encabezados */
  color: white; /* Color del texto en los encabezados */
}

th, td {
  border: 1px solid #e8d6cc; /* Bordes de las celdas */
  padding: 10px; /* Espaciado interno de las celdas */
  text-align: left; /* Alineación del texto */
  word-wrap: break-word;
}



tr:hover {
  background-color: #4d281469; /* Color de fondo cuando se pasa el cursor por encima */
}

.btn-edit, .btn-delete {
  padding: 5px 10px; /* Espaciado interno de los botones */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.btn-edit {
  background-color: #00a843; /* Color de fondo para el botón de editar */
  color: white; /* Color del texto */
}

.btn-delete {
  background-color: #d52215; /* Color de fondo para el botón de eliminar */
  color: white; /* Color del texto */
}

.btn-edit:hover {
  background-color: #02953d; /* Color al pasar el cursor sobre el botón de editar */
}

.btn-delete:hover {
  background-color: #af1d12; /* Color al pasar el cursor sobre el botón de eliminar */
}

/* Container Styles */
.container {
  display: inline-block;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Estilo general del formulario */
.form-sale {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario en la pantalla */
}

/* Agrupar label e input */
.form-group {
  display: flex;
  flex-direction: column;
    margin-bottom: 5px;
    padding: 0;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ancho relativo */
  max-width: 600px; /* Ancho máximo para que no sea muy ancho */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
background-color: #4d28141f ;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #4d2814;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: #5d4037;
  transform: translateY(-2px);
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Cambia la disposición del menú a vertical */
    max-width: 100%; /* Asegura que el menú ocupe todo el ancho en móviles */
    text-align: center; /* Centra el contenido del menú en pantallas pequeñas */
  }

  .menu li {
    width: 100%; /* Cada item de menú ocupará el 100% del ancho */
  }

  .menu a {
    padding: 10px 0; /* Ajusta el padding para que sea más legible en móvil */
  }
  .form-sale {
    grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
  }
  table {
    font-size: 12px; /* Reduce el tamaño de fuente */
  }

  td, th {
    padding: 4px; /* Reduce el padding */
  }

  .price-label,
  .price-value {
    text-align: left; /* Alinear el precio a la izquierda */
  }

  button {
    margin-top: 15px; /* Espacio entre botones y campos en pantallas pequeñas */
  }
}
